{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Fos</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "a/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "a/vendor/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{% static "a/vendor/magnific-popup/magnific-popup.css" %}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static "a/css/about.css" %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/home">Fraternity of seekers</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="/home">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/post">Post</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Gallary</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
					<li>
                        <a class="page-scroll" href="#contact">Login</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

<header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading" align="">{{instance.title}}</h1>
                <hr id=l>
                <h3 align="left">{{instance.short_desc}}</2>
            </div>
        </div>
    </header>
    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
<div class="page-header">
        <h1 id=mh1><center><strong>Who we are?</strong></center></h1>
      </div>
      <p class="lead"><h3>Our goal is to inspire the students who are devoted to science for the welfare of society.</h3><br>
      <h4>Innovation happens when people from different background come together, think together and act together, challenge each other & help each other. NO ONE IS STRONGER THAN ALL OF US. In this modern era, no discipline can work in complete isolation. The absolute need of hour is to "generate" and "harness" multidisciplinary expertise. The peculiarity of multidisciplinary expertise is that it can not be learnt from books, internet and newspaper!!! It can only be acquired by actually being with people from different discipline, under one 'UMBRELLA'. And, this is what Fraternity of Seekers is all about!</h4><br><br>
      Technology is a tool. Just like a hammer (not the tool you want to kick out of your fraternity) – it can build or destroy.

<strong>NOTHING</strong> replaces personal contact. But, often smart rushees will do research on fraternities they are considering. These strategies below build from basic and simple to more advanced and impactful.<br>

Get Found! Don’t use chapter designations that only your members know. (Maryland Beta chapter of Sigma Phi Epsilon.) Use both your fraternity name and nickname on Facebook page, website, Twitter, etc. (SAE & Sigma Alpha Epsilon but avoid the Greek letters)

Don’t be “Frat” – Realize that both students & their parents are doing research. If you promote a fratty image you alienate a good percentage of your potential market for no added benefit.<br>

Clean, Simple and Visual – Not a lot of text. Pictures that truly and positively display chapter activities. Someone should learn a little about your a) History b) Purpose & Values c) What you do.

Promote other chapter’s events… and not just sororities! People don’t want to join a gang that then puts a target on their back for other guys to now hate them. There is value in a potential member feeling like they are joining an organization that has good relations with other fraternities as well as sororities. Actively promoting other fraternity and sorority philanthropies shows you have interfraternal friends.<br>

Show your “Why.” Explaining not WHAT you do as a chapter, but WHY you do it is most important. Engaging in this thing called fraternity is about more than just a good time. Telling your story about WHY you put forth so much time and effort. WHY you feel so strongly about your fraternity isn’t caused by the things that you do, but the driving force behind why you do it. If you can share that WHY, you’ll inspire men to join for all the right reasons. And they’ll never be that brother you look at and think, “Oops!”

      </p>
                </div>
            </div>
        </div>
    </article>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Fraternity of Seekers 2016</p>
                </div>
            </div>
        </div>
    </footer>



    <!-- jQuery -->
    <script src="{% static "a/vendor/jquery/jquery.min.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "a/vendor/bootstrap/js/bootstrap.min.js" %}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{% static "a/vendor/scrollreveal/scrollreveal.min.js" %}"></script>
    <script src="{% static "a/vendor/magnific-popup/jquery.magnific-popup.min.js" %}"></script>

    <!-- Theme JavaScript -->
    <script src="{% static "a/js/creative.min.js" %}"></script>

</body>

</html>
