{% load staticfiles %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Agro</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "a/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "a/vendor/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{% static "a/vendor/magnific-popup/magnific-popup.css" %}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static "a/css/cont.css" %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/home">Agro Chat</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="/home">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/post">Post</a>
                    </li>

                    <li>
                        <a class="page-scroll" href="/contact">Join Us</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/admin">Login</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

<header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading" align=""></h1>
            </div>
        </div>
    </header>
    <!-- Post Content -->   
    <div class="col-md-8">
          <h1>Join Us</h1><br>
          <h4>We are happy to answer any questions you have or provide you with an estimate or if u want join us.Just send us a message in the form below with any question you may have.We will reply to all support quaries within 24 hours. </h4><br>
          <form method="POST" action="">
{% csrf_token %}
{{form|crispy}}
<input type="Reset" name="Reset">
<input type="submit" name="create post">
</form>



       </div>
      </div>
      </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-3">

          <br><br><br><br><br>
          <p><strong>Address</strong><br>AIACT&R,<br>Geeta colony,<br>New Delhi,<br>Delhi,110031<br><br><strong>Give us call</strong><br>+91-9650358508<br>+91-9953465222<br><br><strong>Send us a note</strong><br>agrochat_world@agrochat.com</p>
        </div>

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">                </div>
            </div>
        </div>
    </article>    <hr>
    <!-- Map -->
           <br>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3501.167762152125!2d77.26635231463055!3d28.654695089829293!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfc944ec6b523%3A0xd8bf72d453dbf662!2sAmbedkar+Institute+of+Advanced+Communication+Technologies+and+Research!5e0!3m2!1sen!2sin!4v1491460498890" width="100%" height="50%" frameborder="0" style="border:0" allowfullscreen></iframe>
    </section>


    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="https://twitter.com/">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.github.com/">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Agro Chat 2017</p>
                </div>
            </div>
        </div>
    </footer>



    <!-- jQuery -->
    <script src="{% static "a/vendor/jquery/jquery.min.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "a/vendor/bootstrap/js/bootstrap.min.js" %}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{% static "a/vendor/scrollreveal/scrollreveal.min.js" %}"></script>
    <script src="{% static "a/vendor/magnific-popup/jquery.magnific-popup.min.js" %}"></script>

    <!-- Theme JavaScript -->
    <script src="{% static "a/js/creative.min.js" %}"></script>

</body>

</html>