{% extends "base.html" %}
{% block content %}
<h1>Welcome</h1>
{% for obj in object_list %}
<a href='{{ obj.get_absolute_url}}''>{{obj.title}}<br/></a>
{{obj.content}}<br/>
{{obj.timestamp|timesince}}<br/>
{{obj.updated}}<br/>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?page={{ object_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?page={{ object_list.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock content %}